// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --primary: #2a6a95;
    --secondary: #bbd2e2;
}

$primary: #2a6a95;
$secondary: #F8CF40;
$success: #6dd281;
$danger: #FF7878;
$warning: #E6B566;
$info: #7191e9;
$light: #F6F5F5;
$dark: #274472;

$black: #585858;
$white: #fdfdfd;